@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  background: white;
}

.app {
  @apply relative ;
}

.logo_text {
  @apply relative leading-[40px] font-black;
}

/* Mobile View */
@media (max-width: 640px) {
  .mobile-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* Adjust the gap as needed */
  }
}

@media (max-width: 640px) {
  .responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 0px;
    gap: 25px;
  }
  .responsive1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 14px;

  }
  .responsive2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .text_responsive {
    width: 100%;
    font-size: 25px;
  }
  .img_responsive {
    left: 16px;
  }
}

@media (max-width: 640px) {
  .section1_text {
    width: 100%;
    font-size: 54px;
  }
}

@media (max-width: 640px) {
.earth_img {
  width: 44%;
  margin-left: -15px;
}
}

@media (max-width: 640px) {
.section1_img {
  flex-direction: column;
  left: 20px;
  align-items: center;
  display: flex;
}
}

@media (max-width: 640px) {
.section1_icon1 {
  left: 0px;
}

.section1_icon2 {
  left: 0px;
  margin-top: 20px;
}

.section1_icon3 {
  left: -6px;
  margin-top: 610px;
}
}

@media screen and (max-width: 767px) {
  .MainDiv > div > div >div {
    margin-bottom: 20px; /* Add some spacing between sections */
  }
}

@media (max-width: 640px) {
.section2 {
  margin-top: 500px;
}
.section2_object {
  margin-top: -80px;
}
}

.box_dimension {
  height: 180px;
  width: 206px;
}

@media (max-width: 640px) {
  .section4 {
    display: flex;
    flex-direction: column;
  }
  .section4_img {
    margin-top: -50px;
    height: 280px;
    left: -16px;
  }
  .section4_text {
    width: 100%;
  }
  .section4_box {
    width: 114%;
  }
  .section4_starlogo {
    margin-top: 384px;
    margin-right: -30px;
  }
}

@media (max-width: 640px) {
.section4_discount {
    left: 173px;
    margin-top: 127px;
    height: 40px;
    width: 191px;
}
.discount_icon {
  height: 25px;
    margin-left: -24px;
}
.discount_font {
  font-size: 14px;
    margin-left: -15px;
}
}